@import "../../variables";

.slideshow {

        .each-slide img {
            object-fit: cover;
            object-position: center;
            height: 500px;
            float: left;
        }

        &__arrow {
            width: 50px;
            height: 50px;
            border-radius: 100px;
            background: none;
            border: 0px;
            font-size: 200%;
            color: $body-color;
            background: rgba($color: $white, $alpha: .9);

            top: $body-margin / 2;
          
            display: flex;
            justify-content: center;
            align-items: center;

            &:last-of-type {
                right: $body-margin / 2 !important;
            }

            &:first-of-type {
                right: calc( 60px + $body-margin / 2 ) !important;
                left: auto !important;
            }
        }
}
