@import "../../variables";


.bookingForm {
    background: $secondary;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 3px 10px rgba($color: #000000, $alpha: .25);
}


.form {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__field {
        flex: 1 1;
        width: 20%;
        font-size: 16px;
        height: 3rem;
        padding: 1rem 1rem .925rem;
        outline: none;
        border: none;
        border-radius: 5px;
        margin-right: 10px;    
        box-shadow: 0 3px 5px rgba($color: #000000, $alpha: .25);
    }
}