@import "../../variables";


.hero {
    height: 100vh;
    position: relative;
    color: $white;
    overflow: hidden;

    &__logo {
        max-width: 320px;
        margin-bottom: 4rem;
    }

    &__title {
        font-size: 4rem;
        font-weight: 900;
        word-break: break-all;
        text-shadow: 0 5px 10px rgba($color: #000000, $alpha: .5);
        margin-bottom: 4rem;
        color: $white;
        
        span {
            font-weight: 400;
            font-size: 3rem;
        }
    }

    &__img {
        transform: scale(1.025);
        position: absolute;
        top:0;
        left:0;
        height: calc(100% - 110px);
        width: 100vw;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }

    &__content {
        margin-bottom: 6rem;
    }

    &__form {
        height: 120px;
        margin: 40px 0;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }
}