@import "variables";


.flist-row {

    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 (-$col-gap-size);

    &__item {
        margin: 0 $col-gap-size;
    }

}

.article-teaser {
    padding: 10px;
    background: #eee;
    border-radius: 5px;

    img {
        border-radius: 5px;
        object-fit: cover;
        height: 250px;
    }
}

.sHeader {
    text-align: center;

    &__title {
        margin-bottom: 5px;
    }

    &__desc {
        font-size: 14px;
    }
}



@keyframes App-logo-spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
