@import "variables";

.page-header  {
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    z-index: 99;
}

.sHeader {
    text-align: center;
    margin-bottom: 4rem;

    &__title {
        margin-bottom: 5px;
    }

    &__desc {
        font-size: 14px;
    }
}



@keyframes App-logo-spin {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}
