@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: $body-padding;
    font: 100% $font-stack;
    color: $primary-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

img { 
    width: 100%;
}

section {
    max-width: 1120px;
    margin: 0 auto 6rem;
}


.alignfull {
    width: 100vw;
	max-width: 100vw;
	margin-left: calc(50% - 50vw);
}