@import "variables";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-base;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    color: $body-color;
    line-height: $line-height-base;
    position: relative;
    overflow-x: hidden;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: $headings-color;
    line-height: $headings-line-height;
    margin: 0 0 1rem;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

h5 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0 0 1rem;
}

img { 
    width: 100%;
}

figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: calc( 1120px + $body-margin );
    width: 100%;
    margin: 0 auto;
    padding: 0 $body-margin;
}

section {
    margin-bottom: 6rem;
}

.alignfull {
    width: 100vw;
	max-width: 100vw;
	margin-left: calc(50% - 50vw);
}

.btn {
    padding: 1rem 3rem;
    border-radius: 5px;
    border: none;
    font-size: $font-size-base;
    cursor: pointer;
}

.btn-primary {
    background: $primary;
    color: $white;
}

.flist-row {

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 (-$grid-gutter-width);

    &__item {
        margin: 0 $grid-gutter-width;
        flex: 1 0 auto;
    }

}

.flex-col-2 > .flist-row__item {
    width: calc(50% - $grid-gutter-width * 2);
}

.flex-col-3 > .flist-row__item {
    width: calc(33% - $grid-gutter-width * 2);
}

.flex-col-4 > .flist-row__item {
    width: calc(25% - $grid-gutter-width * 2);
}


.flist-col {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    &__item {
        margin-bottom: 3rem;
    }
}