@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

$primary-color: red;




// stylelint-disable
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #0083CA !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #F47920 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $orange !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;
$body-margin:               3rem !default;

$font-base:                 'Roboto', sans-serif;

$font-size-base:            1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:              ($font-size-base * 1.25) !default;
$font-size-sm:              ($font-size-base * .875) !default;
$font-size-xs:              ($font-size-base * .65) !default;

$h1-font-size:              $font-size-base * 2 !default;
$h2-font-size:              $font-size-base * 1.75 !default;
$h3-font-size:              $font-size-base * 1.5 !default;
$h4-font-size:              $font-size-base * 1.25 !default;
$h5-font-size:              $font-size-base * 1.15 !default;
$h6-font-size:              $font-size-base !default;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-medium:        500 !default;
$font-weight-bold:          600 !default;

$font-weight-base:           $font-weight-normal !default;
$line-height-base:           1.5 !default;

$line-height-lg:              1.8 !default;
$line-height-sm:              1.2 !default;

$spacer: 1rem !default;

$headings-margin-bottom:      calc($spacer / 1) !default;
$headings-font-family:        'Merriweather', serif !default;
$headings-font-weight:        900 !default;
$headings-line-height:        $line-height-sm !default;
$headings-color:              $secondary !default;


/* Grid gutter */

$grid-gutter-width: 20px;
$grid-wrapper-width: -($grid-gutter-width);


/* bulma box */

$box-padding: 3rem;


